.img1 {
    width: 130px;
    height: 20.03px;
}

.img2{
    width: 4.57px;
    height: 7.09;
}

.rz{
    margin-top: 80px;
}
.rz1{
font-family: Mulish;
font-style: normal;
font-weight: 800;
font-size: 50px;
line-height: 63px;
}

.rz2{
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 38px;
}

