.img1 {
    width: 130px;
    height: 20.03px;
}

.img2 {
    width: 117.45px;
    height: 9.69px;

}

.rz {
    margin-top: 80px;
}

.rz1 {
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 63px;
}

.rz2 {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 38px;
    font-weight: 400;
}

.RectangleBig {
    width: 1070px !important; 
    height: 656px !important; 
    margin-top: 140px;
    margin-bottom: 20px;

}

.RectangleSmall {
    height: 656px;
    width: 489px;
}


.foot {
    background-color: black;
    
}

.say-hello {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 100px;
}

.info {
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;

}

hr {
    border: 1px solid #595959;
    width: 200px;

}

.reserved {
    font-family: Mulish;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 100px;

}

.csb {
    width: 227px;
    height: 68px;
    position: relative;
    top: 50%;
    bottom: 50%;

}


@media screen and (max-width: 768px) {

    .img1 {
        width: 83px;
        height: 23px;
    }

    .img2 {
        width: 74.98px;
        height: 6.19px;
    }

    .rz1 {
        font-size: 24px;
        line-height: 34px;
        letter-spacing: 0em;
        margin-left: -19px;


    }
    .rz2{
        font-size: 14px;
        line-height: 26px; 
        margin-left: -19px;
        margin-top: 20px !important;

    }
    .first-img{
        margin-left: 18px;
    }

    .reserved {
        font-size: 8px;
        line-height: 10px;
    }

    hr {
        width: 159px;

    }

    .info {
        font-size: 16px;
        line-height: 20px;
    }

    .say-hello {
        font-size: 44px;
        line-height: 55.22px;
    }
    .csb{
        height: 37.93px;
        width: 126.6px;
}
.RectangleBig{
    height: 385px !important;
    width: 319px !important;
}

}